<mat-card style="background-color: black;" class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title style="color: white;">{{content.title}}</mat-card-title>
        <mat-card-subtitle style="color: white;">{{content.director}}</mat-card-subtitle>
        <img mat-card-lg-image [src]="content.imgUrl" style="width: 30%;height: auto;">
      </mat-card-title-group>
      <button mat-icon-button (click)="delete()" style="color: white;">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <p style="color: white;">Published By: {{content.publisher}}</p>
      <p style="color: white;">Release Date: {{content.release_date | date:"dd/MM/YYYY"}}</p>
      <p style="color: white;">Duration: {{content.duration}}</p>
    </mat-card-content>
  </mat-card>